/* Untuk mengubah default width modal */
.mod-sample-window .modal-dialog {
    width: 80%;
}

.modal-title small {
    margin-right: 20px;
    padding-top: 4px;
    color: #FF9800;
    border-bottom: 1px dotted;
}
