<style>
    .headku {
        padding: 5px !important;
        text-align: center;
        vertical-align: middle;
    }
</style>
<form class="form-horizontal" id="formDataFormat">
    <input type="hidden" name="id">
    <div class="modal-body">

        <div class="form-group nopadding">
            <label class="col-sm-2"><strong>Tahun</strong></label>
            <div class="col-md-10">
                <select name="tahun" id="idTahun" class="form-control">
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                </select>
            </div>
        </div>
        <hr>
        <table class=" table-bordered">
            <tr style="background-color: #e6f4ee">
                <th class="headku" rowspan="3" style="width: 3%;vertical-align: middle !important;">No</th>
                <th class="headku" rowspan="3" style="width: 25%;vertical-align: middle !important;">Keterangan</th>
                <th class="headku" colspan="4">{{tahun}}</th>
            </tr>
            <tr style="background-color: #e6f4ee">
                <th class="headku" colspan="3">Bentuk</th>
            </tr>

            <tr style="background-color: #e6f4ee">
                <th class="headku" style="width: 7%;">Forum</th>
                <th class="headku" style="width: 7%;">P</th>
                <th class="headku" style="width: 7%;">L+P</th>
            </tr>
            {{#value}}
            <tr>
                <td style="text-align: center">{{nomor}}</td>
                <input type="hidden" name="row_id{{nomor}}" value="{{row_id}}">
                <td><input type="text" value="{{keterangan}}" name="keterangan{{nomor}}" style="width: 100%;"></td>
                <td><input type="text" value="{{jml_panti}}" name="jml_panti{{nomor}}" style="width: 100%;"></td>
                <td><input type="text" value="{{count_l}}" name="l{{nomor}}" style="width: 100%;"></td>
                <td><input type="text" value="{{count_p}}" name="p{{nomor}}" style="width: 100%;"></td>
                <td><input type="text" readonly value="{{count_lp}}" name="lp{{nomor}}" style="width: 100%;"></td>
            </tr>
            {{/value}}
        </table>

    </div></form>