<style type="text/css">

    @media print {
        @page {
            size: portrait;
            margin: 10px;
        }

        html, body, table {
            width: 210mm;
            height: 297mm;
        }

        /* ... the rest of the rules ... */
    }

    table {
        /*font-family: "Helvetica Neue", Helvetica, sans-serif;*/
        border-collapse: collapse;
    }

    /*thead th {
        background: SteelBlue;
        color: white;
        text-align: center;
    }*/

    thead td {
        background-color: #FFEB3B;
        text-align: center;
        color: #e82942;
    }

    th,
    td {
        border: 1px solid #CCC;
        padding: 5px;
        /*font-family: monospace;*/
        font-size: 12px;
    }

    /*todo tes*/
    .no {
        width: 50px;
    }

    .tahun {
        width: 150px;
    }

    /*tbody tr:nth-child(even) {
        background: WhiteSmoke;
    }*/

    .pilar {
        padding-left: 5px;
        font-weight: bold;
    }

    .tujuan {
        padding-left: 10px;
        font-weight: bold;
    }

    .target {
        padding-left: 15px;
        font-weight: bold;
    }

    .indikator {
        padding-left: 20px;
        /*font-weight: bold;*/
    }

    .item {
        padding-left: 30px;
    }

    .hidden {
        display: none !important;
    }

    tfoot tr th:last-child {
        /*font-family: monospace;*/
    }

    td .batas-bawah-row-skpd {
        border-bottom: 3px solid #99ADB5;

    }

    .title{
        /*color: #ff0c03;*/
    }

</style>


<div class="">
    <div class="header box box-primary">
        <h4 class="title" id="myModalLabel">{{judul}}</h4>
    </div>
    <div class="box-body">
        <table>
            <thead>
            <tr>
                <th class="no">id</th>
                <th>nama</th>
                <th>alamat</th>
                <th>jenis_kelamin</th>
            </tr>
            </thead>
            <tbody>
            {{#value}}
            <tr>
                <td class="no">{{id}}</td>
                <td>{{nama}}</td>
                <td>{{alamat}}</td>
                <td>{{jenis_kelamin}}</td>
            </tr>
            {{/value}}
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</div>