<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <title>Aplikasi Sleman</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- #CSS Links -->
    <!-- Basic Styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="{{templatepath}}css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{templatepath}}css/font-awesome.min.css">

    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="{{templatepath}}css/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{templatepath}}css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{templatepath}}css/smartadmin-skins.min.css">

    <!-- SmartAdmin RTL Support  -->
    <link rel="stylesheet" type="text/css" media="screen" href="{{templatepath}}css/smartadmin-rtl.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/jquery.ui/jquery-ui.css">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="css/buttons.dataTables.min.css"> -->


    <!-- We recommend you use "your_style.css" to override SmartAdmin
         specific styles this will also ensure you retrain your customization with each SmartAdmin update.
    <link rel="stylesheet" type="text/css" media="screen" href="css/your_style.css"> -->

    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="{{templatepath}}img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{templatepath}}img/favicon/favicon.ico" type="image/x-icon">

    <!-- #GOOGLE FONT -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
    <!-- <link rel="stylesheet" href="css/css.css"> -->

    <!-- #APP SCREEN / ICONS -->
    <!-- Specifying a Webpage Icon for Web Clip
         Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
    <link rel="apple-touch-icon" href="{{templatepath}}img/splash/sptouch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{templatepath}}img/splash/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{templatepath}}img/splash/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{templatepath}}img/splash/touch-icon-ipad-retina.png">

    <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Startup image for web apps -->
    <link rel="apple-touch-startup-image" href="{{templatepath}}img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="{{templatepath}}img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="{{templatepath}}img/splash/iphone.png" media="screen and (max-device-width: 320px)">

    <!-- jsGrid -->
    <link rel="stylesheet" href="plugins/jsgrid/jsgrid.min.css">
    <link rel="stylesheet" href="plugins/jsgrid/jsgrid-theme.min.css">

    <!-- File Input [Upload File] -->
    <link rel="stylesheet" href="css/fileinput.min.css">

    <!-- <link rel="stylesheet" href="https://static.fontawesome.com/css/fontawesome-app.css"> -->
    <!-- <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css"> -->


    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <!-- <link rel="stylesheet" href="css/jquery.dataTables.min.css"> -->

    <!--<script>-->
    <!--window.MathJax = {-->
    <!--"fast-preview": {-->
    <!--disabled: true-->
    <!--},-->
    <!--AuthorInit: function () {-->
    <!--MathJax.Hub.Register.StartupHook('End', function () {-->
    <!--MathJax.Hub.processSectionDelay = 0-->
    <!--var demoSource = document.getElementById('demoSource')-->
    <!--var demoRendering = document.getElementById('demoRendering')-->
    <!--var math = MathJax.Hub.getAllJax('demoRendering')[0];-->
    <!--//                    debugger;-->
    <!--demoSource.addEventListener('input', function () {-->
    <!--MathJax.Hub.Queue(['Text', math, demoSource.value])-->
    <!--})-->
    <!--})-->
    <!--}-->
    <!--}-->
    <!--</script>-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js">
    </script>
    <style>
        table.dataTable td {
            padding: 2px !important;
        }
        
        .btTop {
            margin: 0 5px 0 0 !important;
        }
        
        @media all and (max-width:480px) {
            .btTop {
                width: 100%;
                display: block;
                margin-top: 5px !important;
            }
            div.dataTables_filter label {
                width: 100% !important;
            }
            div.dataTables_filter input {
                width: 100% !important;
            }
        }
    </style>
</head>

<!--

TABLE OF CONTENTS.

Use search to find needed section.

===================================================================

|  01. #CSS Links                |  all CSS links and file paths  |
|  02. #FAVICONS                 |  Favicon links and file paths  |
|  03. #GOOGLE FONT              |  Google font link              |
|  04. #APP SCREEN / ICONS       |  app icons, screen backdrops   |
|  05. #BODY                     |  body tag                      |
|  06. #HEADER                   |  header tag                    |
|  07. #PROJECTS                 |  project lists                 |
|  08. #TOGGLE LAYOUT BUTTONS    |  layout buttons and actions    |
|  09. #MOBILE                   |  mobile view dropdown          |
|  10. #SEARCH                   |  search field                  |
|  11. #NAVIGATION               |  left panel & navigation       |
|  12. #MAIN PANEL               |  main panel                    |
|  13. #MAIN CONTENT             |  content holder                |
|  14. #PAGE FOOTER              |  page footer                   |
|  15. #SHORTCUT AREA            |  dropdown shortcuts area       |
|  16. #plugins                  |  all scripts and plugins       |

===================================================================

-->

<!-- #BODY -->
<!-- Possible Classes

    * 'smart-style-{SKIN#}'
    * 'smart-rtl'         - Switch theme mode to RTL
    * 'menu-on-top'       - Switch to top navigation (no DOM change required)
    * 'no-menu'			  - Hides the menu completely
    * 'hidden-menu'       - Hides the main menu but still accessable by hovering over left edge
    * 'fixed-header'      - Fixes the header
    * 'fixed-navigation'  - Fixes the main menu
    * 'fixed-ribbon'      - Fixes breadcrumb
    * 'fixed-page-footer' - Fixes footer
    * 'container'         - boxed layout mode (non-responsive: will not work with fixed-navigation & fixed-ribbon)
-->

<body class="smart-style-3">
    <!-- #HEADER -->
    <header id="header">
        <span id=""> <img style="width: 37px;margin: 2px;" src="img/logo.png" alt="SmartAdmin">
        <!--<span style="font-weight: 600;font-size: large">Framework Smart Sleman</span>-->
        <span style="font-weight: 400;font-size: large">Kabupaten Sleman </span>  <span style="font-weight: 12;">&nbsp&nbsp&nbsp&nbsp&nbsp {{userData.nama}} </span> 
        </span>
        <!--<div id="logo-group">

        &lt;!&ndash; PLACE YOUR LOGO HERE &ndash;&gt;
        &lt;!&ndash;logo&ndash;&gt;

        &lt;!&ndash; END LOGO PLACEHOLDER &ndash;&gt;

        &lt;!&ndash; Note: The activity badge color changes when clicked and resets the number to 0
             Suggestion: You may want to set a flag when this happens to tick off all checked messages / notifications &ndash;&gt;
        &lt;!&ndash;<span id="activity" class="activity-dropdown"> <i class="fa fa-user"></i> <b class="badge"> 21 </b> </span>&ndash;&gt;

        &lt;!&ndash; AJAX-DROPDOWN : control this dropdown height, look and feel from the LESS variable file &ndash;&gt;
        &lt;!&ndash;<div class="ajax-dropdown">

            &lt;!&ndash; the ID links are fetched via AJAX to the ajax container "ajax-notifications" &ndash;&gt;
            <div class="btn-group btn-group-justified" data-toggle="buttons">
                <label class="btn btn-default">
                    <input type="radio" name="activity" id="ajax/notify/mail.html">
                    Msgs (14) </label>
                <label class="btn btn-default">
                    <input type="radio" name="activity" id="ajax/notify/notifications.html">
                    notify (3) </label>
                <label class="btn btn-default">
                    <input type="radio" name="activity" id="ajax/notify/tasks.html">
                    Tasks (4) </label>
            </div>

            &lt;!&ndash; notification content &ndash;&gt;
            <div class="ajax-notifications custom-scroll">

                <div class="alert alert-transparent">
                    <h4>Click a button to show messages here</h4>
                    This blank page message helps protect your privacy, or you can show the first message here automatically.
                </div>

                <i class="fa fa-lock fa-4x fa-border"></i>

            </div>
            &lt;!&ndash; end notification content &ndash;&gt;

            &lt;!&ndash; footer: refresh area &ndash;&gt;
            <span> Last updated on: 12/12/2013 9:43AM
						<button type="button" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Loading..." class="btn btn-xs btn-default pull-right">
							<i class="fa fa-refresh"></i>
						</button> </span>
            &lt;!&ndash; end footer &ndash;&gt;

        </div>&ndash;&gt;
        &lt;!&ndash; END AJAX-DROPDOWN &ndash;&gt;
    </div>-->

        <!-- end projects dropdown -->

        <!-- #TOGGLE LAYOUT BUTTONS -->
        <!-- pulled right: nav area -->
        <div class="pull-right">

            <!-- collapse menu button -->
            <div id="hide-menu" class="btn-header pull-right">
                <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i
                    class="fa fa-reorder"></i></a> </span>
            </div>
            <!-- end collapse menu -->

            <!-- #MOBILE -->
            <!-- Top menu profile link : this shows only when top menu is active -->
            <!--<ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
            <li class="">
                <a href="#" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown">
                    <img src="{{templatepath}}img/avatars/sunny.png" alt="John Doe" class="online"/>
                </a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0"><i
                                class="fa fa-cog"></i> Setting</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#ajax/profile.html" class="padding-10 padding-top-0 padding-bottom-0"> <i
                                class="fa fa-user"></i> <u>P</u>rofile</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0"
                           data-action="toggleShortcut"><i class="fa fa-arrow-down"></i> <u>S</u>hortcut</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0"
                           data-action="launchFullscreen"><i class="fa fa-arrows-alt"></i> Full <u>S</u>creen</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="login.php" class="padding-10 padding-top-5 padding-bottom-5"
                           data-action="userLogout"><i class="fa fa-sign-out fa-lg"></i> <strong><u>L</u>ogout</strong></a>
                    </li>
                </ul>
            </li>
        </ul>-->

            <!-- logout button -->
            <div id="logout" class="btn-header transparent pull-right">
                <span> <a href="login.php" title="Sign Out" data-action="userLogout"
                      data-logout-msg="You can improve your security further after logging out by closing this opened browser"><i
                    class="fa fa-sign-out"></i></a> </span>
            </div>
            <!-- end logout button -->

            <!-- search mobile button (this is hidden till mobile view port) -->
            <div id="search-mobile" class="btn-header transparent pull-right">
                <span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
            </div>
            <!-- end search mobile button -->

            <!-- #SEARCH -->
            <!-- input: search field -->
            <!--<form action="#ajax/search.html" class="header-search pull-right">
            <input id="search-fld" type="text" name="param" placeholder="Find reports and more">
            <button type="submit">
                <i class="fa fa-search"></i>
            </button>
            <a href="javascript:void(0);" id="cancel-search-js" title="Cancel Search"><i class="fa fa-times"></i></a>
        </form>-->
            <!-- end input: search field -->

            <!-- fullscreen button -->
            <div id="fullscreen" class="btn-header transparent pull-right">
                <span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen"><i
                    class="fa fa-arrows-alt"></i></a> </span>
            </div>
            <!-- end fullscreen button -->

        </div>
        <!-- end pulled right: nav area -->

    </header>
    <!-- END HEADER -->

    <!-- #NAVIGATION -->
    <!-- Left panel : Navigation area -->
    <!-- Note: This width of the aside area can be adjusted through LESS/SASS variables -->
    <aside id="left-panel">

        <!-- User info -->
        <!--<div class="login-info">
				<span> &lt;!&ndash; User image size is adjusted inside CSS, it should stay as is &ndash;&gt;

					<a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
						<img src="{{templatepath}}img/avatars/sunny.png" alt="me" class="online"/>
						<span>
							john.doe
						</span>
						<i class="fa fa-angle-down"></i>
					</a>

				</span>
    </div>-->
        <!-- end user info -->

        <!-- NAVIGATION : This navigation is also responsive

    To make this navigation dynamic please make sure to link the node
    (the reference to the nav > ul) after page load. Or the navigation
    will not initialize.
    -->
        <nav class="main-sidebar">
            <ul class="sidebar-menu">
                <!-- <li class="active mod-title">
                    <a href="main.php" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i>Dashboard</a>
                </li> -->
                {{#modules}}
                <li class="{{#parent1}}treeview{{/parent1}}">
                    <a href="#"><i class="fa fa-{{icon_dir}} fa-lg fa-fw"></i><span>{{text}}</span>
                    {{#parent1}}<i class="fa pull-right"></i>{{/parent1}}
                </a> {{#parent1}}
                    <ul class="treeview-menu">
                        {{#children}}
                        <li class="{{#parent2}}treeview{{/parent2}}">
                            <a class="child" href="#" data-module="{{module}}" data-module-id="{{module_id}}">
                                <i class="fa fa-{{icon_mod}}"></i> {{text}} {{#parent2}}
                                <i class="fa fa-angle-left pull-right"></i>{{/parent2}}
                            </a>
                            {{#parent2}}
                            <ul class="treeview-menu">
                                {{#children}}
                                <li>
                                    <a class="child" href="#" data-module="{{module}}" data-module-id="{{module_id}}">
                                        <i class="fa fa-{{icon_mod}}"></i> {{text}}
                                    </a>
                                </li>
                                {{/children}}
                            </ul>
                            {{/parent2}}
                        </li>
                        {{/children}}
                    </ul>
                    {{/parent1}}
                </li>
                {{/modules}}
                <!-- <li class="mod-title">
                    <a href="#" id="logoutBtn" title="Dashboard"><i class="logoutBtn fa fa-lg fa-fw fa-sign-out"></i>Logout</a>
                </li> -->
            </ul>
        </nav>

      <!--     <ul class="treeview">
                <a href="index.php" id="logoutBtn" title="Dashboard" style="color:#4D8BA5"><i class="logoutBtn fa fa-lg fa-fw fa-sign-out" style="font-size:25px;color: #4D8BA5;margin-left: -30px;padding-top: 10px;"></i>Logout</a>
        </ul> -->
        <!--<span class="minifyme"><a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu">
        <i class="fa fa-arrow-circle-left hit"></i></a> </span>-->
        <!--<span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>-->

    </aside>
    <!-- END NAVIGATION -->

    <!-- #MAIN PANEL -->

    <div id="main" role="main">

        <!-- RIBBON -->
        <div id="ribbon">

            <!-- breadcrumb -->
            <ol class="mod-title breadcrumb">
                <li class="">Home</li>
                <li>
                    <small class="description hidden-xs"></small>
                </li>
            </ol>
            <!-- end breadcrumb -->
        </div>
        <!-- END RIBBON -->

        <!-- #MAIN CONTENT -->


        <div id="content">
            <section id="widget-grid" class="">
                <!-- row -->
                <div class="row">
                    <article class="col-sm-12 sortable-grid ui-sortable">
                        <!-- widget div-->
                        <div class="widget-body" id="content-id" style="padding: 2px !important;">
                            <!-- content -->
                        </div>
                        <!-- end widget -->

                    </article>
                </div>
                <!-- end row -->
            </section>
        </div>

        <!-- end row -->

        <!-- END #MAIN CONTENT -->

    </div>
    <!-- END #MAIN PANEL -->

    <!-- #PAGE FOOTER -->
    <div class="page-footer">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <span class="txt-color-white">Aplikasi Sleman<span class=""> - Kabupaten Sleman</span> © 2024</span>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- END FOOTER -->

    <!-- #SHORTCUT AREA : With large tiles (activated via clicking user name tag)
     Note: These tiles are completely responsive, you can add as many as you like -->
    <div id="shortcut">
        <ul>
            <li>
                <a href="index.html" class="jarvismetro-tile big-cubes bg-color-blue"> <span class="iconbox"> <i
                    class="fa fa-envelope fa-4x"></i> <span>Mail <span
                    class="label pull-right bg-color-darken">14</span></span>
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <!-- END SHORTCUT AREA -->

    <!--================================================== -->

    <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)
<script data-pace-options='{ "restartOnRequestAfter": true }' src="js/plugins/pace/pace.min.js"></script>-->


    <!-- #plugins -->
    <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        if (!window.jQuery) {
            document.write('<script src="js/libs/jquery-2.1.1.min.js"><\/script>');
        }
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script>
        if (!window.jQuery.ui) {
            document.write('<script src="js/libs/jquery-ui-1.10.3.min.js"><\/script>');
        }
    </script>

    <!-- IMPORTANT: APP CONFIG -->
    <script src="{{templatepath}}js/app.config.seed.js"></script>

    <!-- BOOTSTRAP JS -->
    <script src="{{templatepath}}js/bootstrap/bootstrap.min.js"></script>

    <!--[if IE 8]>
<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>
<![endif]-->

    <!-- MAIN APP JS FILE -->
    <script src="{{templatepath}}js/app.seed.js"></script>

    <!-- Modal template -->
    <div class="modal fade" id="myAppModal" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width: 80%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    The content Here Bro...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="user-data hidden" id="user-data">
        {{userDataEnc}}
    </div>

</body>

</html>

<!-- Aplication js -->
<script src="app/main.js"></script>

<!-- IMPORTANT: APP CONFIG -->
<script src="plugins/app.config.js"></script>

<!-- JS TOUCH : include this plugins for mobile drag / drop touch events-->
<script src="plugins/jquery-touch/jquery.ui.touch-punch.min.js"></script>

<!-- BOOTSTRAP JS -->
<script src="js/bootstrap/bootstrap.min.js"></script>

<!-- CUSTOM NOTIFICATION -->
<script src="plugins/notification/SmartNotification.min.js"></script>

<!-- JARVIS WIDGETS -->
<script src="plugins/smartwidgets/jarvis.widget.min.js"></script>

<script src="plugins/timepicker/bootstrap-timepicker.min.js"></script>


<!-- SPARKLINES -->
<script src="plugins/sparkline/jquery.sparkline.min.js"></script>

<!-- JQUERY VALIDATE -->
<script src="plugins/jquery-validate/jquery.validate.min.js"></script>

<!-- JQUERY SELECT2 INPUT -->
<script src="plugins/select2/select2.min.js"></script>

<!-- JQUERY UI + Bootstrap Slider -->
<script src="plugins/bootstrap-slider/bootstrap-slider.min.js"></script>

<!-- browser msie issue fix -->
<script src="plugins/msie-fix/jquery.mb.browser.min.js"></script>

<!-- FastClick: For mobile devices -->
<script src="plugins/fastclick/fastclick.min.js"></script>

<!-- PAGE RELATED PLUGIN(S) -->
<!-- <script src="js/plugin/ckeditor/ckeditor.js"></script> -->
<script src="https://cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>


<!--[if IE 8]>

<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

<![endif]-->

<!-- PAGE RELATED plugins(S) -->

<!-- Full Calendar -->
<script src="plugins/fullcalendar/jquery.fullcalendar.min.js"></script>

<!-- Mustache -->
<script src="plugins/mustache/mustache.min.js"></script>
<!-- jsGrid -->
<script src="plugins/jsgrid/jsgrid.min.js"></script>
<!-- PAGE RELATED plugins(S) -->
<script src="plugins/datatables/jquery.dataTables.min.js"></script>
<script src="plugins/datatables/dataTables.colVis.min.js"></script>
<script src="plugins/datatables/dataTables.tableTools.min.js"></script>
<script src="plugins/datatables/dataTables.bootstrap.min.js"></script>


<!-- Online Resource -->

<!-- <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script> -->
<!--  -->
<!-- <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script> -->
<!--  -->
<!-- <script src="plugins/datatable-responsive/datatables.responsive.min.js"></script> -->
<!-- <script src="https://cdn.datatables.net/fixedcolumns/3.2.2/js/dataTables.fixedColumns.min.js"></script> -->
<!-- <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script> -->
<!-- <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script> -->
<!-- <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script> -->

<!--html to canvas-->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.3/FileSaver.min.js"></script> -->
<!--<script src="https://cdn.rawgit.com/canvg/canvg/master/canvg.min.js"></script>-->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script> -->


<!--<script src="plugins/highcharts/js/highcharts.js"></script>-->

<!--<script src="https://code.highcharts.com/highcharts.js"></script>-->
<!--<script src="https://code.highcharts.com/modules/data.js"></script>-->
<!--<script src="https://code.highcharts.com/modules/exporting.js"></script>-->
<!-- Additional files for the Highslide popup effect -->
<!--<script src="https://www.highcharts.com/media/com_demo/js/highslide-full.min.js"></script>-->
<!--<script src="https://www.highcharts.com/media/com_demo/js/highslide.config.js" charset="utf-8"></script>-->

<!-- <script src="https://code.highcharts.com/highcharts.js"></script> -->
<!-- <script src="https://code.highcharts.com/modules/exporting.js"></script> -->
<!-- <script src="https://code.highcharts.com/modules/export-data.js"></script> -->
<!--  -->
<!-- generate pdf from jquery -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script> -->
<!--  -->
<!--  -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script> -->

<!-- Offline Resource -->

<script src="js/libs/jquery.dataTables.min.js"></script>
<!--  -->
<script src="js/libs/dataTables.buttons.min.js"></script>
<!--  -->
<script src="plugins/datatable-responsive/datatables.responsive.min.js"></script>
<script src="js/libs/dataTables.fixedColumns.min.js"></script>
<script src="js/libs/buttons.flash.min.js"></script>
<script src="js/libs/jszip.min.js"></script>
<script src="js/libs/pdfmake.min.js"></script>
<script src="js/libs/vfs_fonts.js"></script>
<script src="js/libs/buttons.html5.min.js"></script>
<script src="js/libs/buttons.print.min.js"></script>
<!--  -->
<!-- html to canvas -->
<script src="js/libs/FileSaver.min.js"></script>
<!-- <script src="js/libs/ -->
<script src="js/libs/html2canvas.min.js "></script>
<!--  -->
<script src="js/libs/highcharts.js "></script>
<script src="js/libs/exporting.js "></script>
<script src="js/libs/export-data.js "></script>
<!--  -->
<!-- generate pdf from jquery -->
<script src="js/libs/jspdf.min.js "></script>
<!--  -->
<script src="js/libs/moment.min.js "></script>

<!-- Library upload file -->
<script src="js/libs/fileinput.min.js "></script>
<script src="js/locales/id.js "></script>

<!-- Bootbox -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>