<style>

    @media print {
        @page {
            size: portrait;
            margin: 10px;
        }

        html, body, table {
            width: 210mm;
            height: 297mm;
        }

        /* ... the rest of the rules ... */
    }

    table {
        /*font-family: "Helvetica Neue", Helvetica, sans-serif;*/
        border-collapse: collapse;
    }

    /*thead th {
        background: SteelBlue;
        color: white;
        text-align: center;
    }*/

    thead td {
        /*background-color: #FFEB3B;*/
        text-align: center;

    }

    th,
    td {
        border: 1px solid #CCC;
        padding: 5px;
        /*font-family: monospace;*/
        font-size: 12px;
    }

    /*todo tes*/
    .no {
        width: 50px;
    }

    .tahun {
        width: 150px;
    }

    /*tbody tr:nth-child(even) {
        background: WhiteSmoke;
    }*/

    .keterangan {
        padding: 10px;
        width: 300px;
    }

    .rumus {
        padding-left: 10px;
        padding-top: 10px;
        font-weight: bold;
        width: 100px;
    }

    .target {
        padding-left: 15px;
        font-weight: bold;
    }

    .indikator {
        padding-left: 20px;
        /*font-weight: bold;*/
    }

    .kode-indikator {
        padding-left: 20px;
        width: 100px;
        /*font-weight: bold;*/
    }

    .item {
        padding-left: 30px;
    }

    .hidden {
        display: none !important;
    }

    tfoot tr th:last-child {
        /*font-family: monospace;*/
    }

    td .batas-bawah-row-skpd {
        border-bottom: 3px solid #99ADB5;

    }


</style>

<div class="">
    <div class="header box box-primary">
        <h4 class="title" id="myModalLabel">{{judul}}</h4>
    </div>
    <div class="box-body">
        <table>
            <thead>
            <tr>
                <th class="kode-indikator">kode indikator</th>
                <th>indikator</th>
                <th class="rumus">Rumus</th>
                <th class="keterangan">Keterangan</th>
            </tr>
            </thead>
            <tbody>
            {{#value}}
            <tr>
                <td class="kode-indikator">{{kode_indikator}}</td>
                <td>{{{indikator}}}</td>
                <td class="rumus">
                    <img src="{{{canvas}}}" style="margin-top: 50px;width: 100px;!important;">
                </td>
                <td class="keterangan">{{{keterangan}}}</td>
            </tr>
            {{/value}}
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</div>


